[Unit]
Description=AmneziaWG VPN Client (%i)
Documentation=https://github.com/atom363/amneziawg-unifi
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/data/amneziawg/setup.sh up %i
ExecStop=/data/amneziawg/setup.sh down %i
ExecReload=/bin/sh -c '/data/amneziawg/setup.sh down %i && /data/amneziawg/setup.sh up %i'

[Install]
WantedBy=multi-user.target
