[Unit]
Description=AmneziaWG VPN Client
Documentation=https://github.com/lexfrei/amneziawg-unifi
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/data/amneziawg/setup.sh up
ExecStop=/data/amneziawg/setup.sh down
ExecReload=/data/amneziawg/setup.sh down ; /data/amneziawg/setup.sh up

[Install]
WantedBy=multi-user.target
